<h1>投稿を編集</h1>
<%= form_with model: @post, url: post_path(@post), local: true do |f| %>
  <div class="field mt-3">
  <%= f.label :chinchilla_id, '投稿するチンチラさん' %>
  <%= f.collection_select :chinchilla_id, current_owner.chinchillas, :id, :name, prompt: "チンチラさんを選択" %>
  </div>
  
  <div class="field mt-3">
  <%= f.label :image, '投稿画像' %>
  <%= f.attachment_field :image %>
  </div>
  
  <div class="field mt-3">
  <%= f.label :post_title, '投稿のタイトル' %>
  <%= f.text_field :post_title %>
  </div>
  
  <div class="field mt-3">
  <%= f.label :post_body, '投稿内容' %><br>
  <%= f.text_area :post_body, class: "post-body" %>
  </div>
  
  <div class="actions mt-3">
    <%= f.submit "登録する", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>