<h1>主さんの情報を更新する</h1>
<%= form_with model: @owner, url: owners_path, local: true do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>
  
  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>
  
  <%= f.label :prefecture, "お住いの都道府県" %>
  <%= f.text_field :prefecture %>
  
  <%= f.label :image, "プロフィール画像" %>
  <%= f.attachment_field :image %>
  
  <%= f.label :introduction, "自己紹介" %>
  <%= f.text_area :introduction %>
  
  <%= f.submit "更新" %>

<% end %>