<div class="container owner-profile mt-auto mb-auto">
  <div class="row">
    <div class="col-5 owner-image">
      <%= link_to owner_path(@owner) do %>
          <%= attachment_image_tag @owner, :image, :fill, 200, 200, fallback: "pf-images/profile_noimage.png", size: "200x200", class: "owner-photo" %>
        <% end %>
    </div>
    <div class="col-7 owner-info mt-auto mb-auto">
      <h3 class="mb-3"><%= @owner.name %></h3>
      <p><%= @owner.introduction %></p>
      <p><%= @owner.favorite_chinchillas.count %>ひきのチンチラさんをフォローしています</p>
      <div>
        <i class="fas fa-location-arrow"></i><span> <%= @owner.prefecture %></span>
        <span><%= @owner.created_at.strftime('%Y年%m月') %>から森の住人です</span>
      </div>
      <div class="mt-2">
        <%= link_to "プロフィールを編集する", edit_owner_path(@owner), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "退会する", withdrawal_path(@owner), class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
  </div>
</div>

<div class="owner-chinchilla mt-5">
  <div class="owner-chinchilla-head d-flex flex-row">
    <h4 class="fas fa-paw mr-5"><%= @owner.name %>のチンチラさん</h4>
    <div class="owner-new-chinchilla ">
      <%= link_to "チンチラさんを追加", new_chinchilla_path, class: "btn btn-sm btn-outline-info" %>
    </div>
  </div>
   <% @owner.chinchillas.each do |chinchilla| %>
      <div class="owner-chinchillas-plofile d-flex flex-row mt-2 center-block">
         <div class="owner-chinchilla-photo d-flex align-items-center">
           <%= attachment_image_tag chinchilla, :image, :fill, 100, 100, fallback: "pf-images/photo_noimage.png", size: "100x100", class: "owner-chinchilla-image  mr-3" %>
         </div>
         <div class="owner-chinchilla-info d-flex flex-column">
           <div class="owner-chinchilla-info-head d-flex flex-row">
             <h5 class="mr-5">
               <%= link_to chinchilla_path(chinchilla) do %>
                   <%= chinchilla.name %>
               <% end %>
             </h5>
             <p class="owner-chinchilla-follower ml-5 mr-3">フォロワー <%= chinchilla.favorite_chinchillas.count %></p>
             <% if @owner = current_owner %>
               <div class="owner-chinchilla-edit-link">
                 <%= link_to "編集", edit_chinchilla_path(chinchilla), class: "btn btn-sm btn-outline-success mr-2" %>
                 <%= link_to "削除", chinchilla_path(chinchilla), method: :delete, class: "btn btn-sm btn-outline-danger" %>
               </div>
             <% end %>
           </div>
           <div class="owner-chinchilla-info-body">
             <p><%= chinchilla.sex %> / <%= chinchilla_old(chinchilla) %>さい / <%= chinchilla.fur_type %></p>
             <p>投稿数:<%= chinchilla.posts.count %></p>
           </div>
         </div>
      </div>
   <% end %>
</div>

