      <div class="ml-5"> 
        <%= form_with model: @owner, url: owner_registration_path, method: :post, id: 'new_owner', class: 'new_owner', local: true do |f| %>
          <%= render "owners/shared/error_messages", resource: resource %>
          
          <div class="field mt-3">
            <%= f.label :name, '名前(ニックネーム)' %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "チンチラ太郎" %>
          </div>
          
          <div class="field mt-3">
            <%= f.label :email, 'メールアドレス' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "〇〇@☆☆" %>
          </div>
          
          <div class="field mt-3">
            <%= f.label :prefecture, '都道府県(同じ都道府県のユーザを探すのに使用します)' %><br />
            <%= f.select :prefecture, Owner.prefectures.keys, {} %>
          </div>
        
          <div class="field mt-3">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        
          <div class="field mt-3">
            <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="actions mt-3">
            <%= f.submit "登録" %>
          </div>
        <% end %>
      </div> 