<h2>相談内容を編集</h2>
<%= form_with model: @question, url: question_path(@question), local: true do |f| %>
  <%= f.label :question_title, 'タイトル' %>
  <%= f.text_field :question_title %>
  
  <%= f.label :question_body, '相談内容' %>
  <%= f.text_area :question_body %>
  
  <%= f.label :question_images_mages, '画像をつける' %>
  <%= f.attachment_field :question_images_images, multiple: true %>
  
  <%= f.submit "相談を更新する" %>
<% end %>