<h1>相談</h1>
<h2>新しく相談する</h2>
<%= form_with model: @question, url: questions_path, local: true do |f| %>
  <%= f.label :question_title, 'タイトル' %>
  <%= f.text_field :question_title %>
  
  <%= f.label :question_body, '相談内容' %>
  <%= f.text_area :question_body %>
  
  <%= f.label :question_images_mages, '画像をつける' %>
  <%= f.attachment_field :question_images_images, multiple: true %>
  
  <%= f.submit "相談を投稿する" %>
<% end %>

<h2>相談一覧</h2>
<% @questions.each do |question| %>
  <%= link_to "#{question.question_title}", question_path(question) %>
  <%= question.owner.name %>
  <% if question.solution_status == true %>
    <p>解決済み</p>
  <% else %>
    <p>コメント募集中</p>
  <% end %>
<% end %>
