<h1>チンチラさんの情報を編集</h1>
<%= render "layouts/errors", object: @chinchilla0 %>
<%= form_with model: @chinchilla, url: chinchilla_path(@chinchilla), local: true do |f| %>
   <div class="field mt-3">
    <%= f.label :name, "チンチラさんの名前　" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field mt-3">
    <%= f.label :birthday, "チンチラさんの誕生日　" %>
    <%== sprintf(f.date_select(:birthday, use_month_numbers: true, date_separator: '%s', discard_day: true, start_year: Time.now.year, end_year: 2000, prompt: "--" ), '年') + '月' %>
  </div>
  
  <div class="field mt-3">
    <%= f.label :sex, "チンチラさんの性別　" %>
    <%= f.select :sex, Chinchilla.sexes.keys.map {|k| [k, k]}, {}, prompt: "--" %>
  </div>
  
  <div class="field mt-3">
    <%= f.label :fur_type, "チンチラさんの毛色・種類　"%>
    <%= f.text_field :fur_type, placeholder: 'スタンダードグレー' %>
  </div>
  
  <div class="field mt-3">
    <%= f.label :introduction, 'チンチラさんの紹介文' %><br>
    <%= f.text_area :introduction, class: "chinchilla-intro" %>
  </div>
  
  <div class="field mt-3">
    <%= f.label :image, 'チンチラさんのプロフィール写真　' %>
    <%= f.attachment_field :image %>
  </div>

  <%= f.hidden_field :owner_id, :value => current_owner.id %>

  <div class="actions mt-3">
    <%= f.submit "登録する", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>