<h2>飼い主一覧</h2>
<table class="table" style="width: 100%;">
  <thead>
    <tr class="column">
      <th scope="col-1">名前</th>
      <th scope="col-3">メールアドレス</th>
      <th scope="col-7">自己紹介</th>
      <th scope="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner| %>
        <tr>
          <td>
            <%= owner.name %>
          </td>
          <td><%= owner.email %></td>
          <td><%= owner.introduction %></td>
          <td><%= link_to "削除", admin_owner_path(owner), method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
        
    <% end %>
    <%= paginate @owners %>
  </tbody>
</table>
