<h1 class="hospital-new mb-4">病院新規投稿</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 post-area">
      <%= form_with model: @hospital, local: true do |f| %>
        <div class="hosptal-name-post mb-3 pb-3">
          <%= f.label :hospital_name, "病院名　" %>
          <%= f.text_field :hospital_name, placeholder: "〇〇動物病院" %>
        </div>
        <div class="hospital-image-post mb-3 pb-3">
          <%= f.label :image, "病院関係写真" %><br>
          <p>(複数投稿する時は、Ctrlをおしながら画像を選択してください。)</p>
          <%= f.attachment_field :hospital_images_images, multiple: true %>
        </div>
        <div class="hospital-address-post mb-3 pb-3">
          <%= f.label :address, "住所　" %>
          <%= f.text_field :address, id: "address", placeholder: "東京都〇〇区1-1-1" %>
          <input type="button" value="地図で確認する" onclick="codeAddress()">
        </div>
        <div class="hospital-rate-post mb-3 pb-3">
          <div id="star">
            <%= f.label :rate, "評価" %>
            <%= f.hidden_field :rate, id: :review_star %>
          </div>
        </div>
        <div class="hospital-comment-post mb-3 pb-3">
          <%= f.label :comment, "口コミ" %><br>
          <%= f.text_area :comment, class: "comment-area" %>
        </div>
        <div class="hospital-btn">
          <%= f.submit "投稿", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    
    <div class="col-lg-6 map-area">
      <div id='map' class="ml-5"></div>
    </div>
  </div>
</div>

<script>
 $('#star').raty({
   size: 36,
   starOff: "<%= asset_path('raty-images/star-off.png') %>",
   starOn: "<%= asset_path('raty-images/star-on.png') %>",
   starHalf: "<%= asset_path('raty-images/star-half.png') %>",
   scoreName: 'hospital[rate]', 
   half: true,
 });
</script>