<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 hospital-detail">
        <div class="detail-hosptal-name mb-3 pb-3">
          <h3><%= @hospital.hospital_name %></h3>
          <% if @hospital.owner == current_owner %>
          <span>
            <%= link_to "編集", edit_hospital_path, class: "btn btn-sm btn-success" %> 
            <%= link_to "削除", hospital_path, method: :delete, class: "btn btn-sm btn-danger" %> 
          </span>
          <% end %>
        </div>
        <div class="detail-hospital-address mb-3 pb-3">
          <%= @hospital.address %>
        </div>
        <div class="detail-hospital-rate mb-3 pb-3">
          <p><%= @hospital.rate %>点</p>
          <div class="hospital-rate"></div>
        </div>
        <div class="detail-hospital-comment mb-3 pb-3">
          <%= @hospital.comment %>
        </div>
        <div class=hospital-images>
          <p>関連画像</p>
          <% @hospital.hospital_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 150, 150, class: "ml-2 mt-2"%>
          <% end %>
        </div>  
    </div>
    
    <div class="col-lg-6 map-area">
      <div id='show_map' class="ml-4"></div>
    </div>
  </div>
</div>

<script>
 $('.hospital-rate').raty({
    readOnly: true,
    size: 36,
    starOff: "<%= asset_path('raty-images/star-off.png') %>",
    starOn: "<%= asset_path('raty-images/star-on.png') %>",
    starHalf: "<%= asset_path('raty-images/star-half.png') %>",
    half: true,
    score: "<%= @hospital.rate %>"
  });
</script>