
  <nav class="navbar sticky-top d-flex flex-column">
    <div class="logo mt-3 mb-3">
      <%= link_to posts_path do %>
        <%= image_tag "pf-images/logo.png", size: "175x70" %>
      <% end %>
    </div>
    <div>
      <%= link_to " ホーム", posts_path, class: "fas fa-home mt-3 mb-3" %>
    </div>
    <div>
      <%= link_to " チンチラさん", chinchillas_path, class: "fas fa-paw mt-3 mb-3" %>
    </div>
    <div>
      <%= link_to " 病院レビュー", hospitals_path, class: "fas fa-hospital-alt mt-3 mb-3" %>
    </div>
    <div>
      <%= link_to " プロフィール", owner_path(current_owner), class: "fas fa-user mt-3 mb-3" %>
    </div>
    <div>
      <a href="#" class="fas fa-users mt-3 mb-3" style="color: gray;"> コミュニティ</a>
    </div>
    <div>
      <a href="#" class="fas fa-envelope mt-3 mb-3" style="color: gray;"> メッセージ</a>
    </div>
     <div>
      <%= link_to " ログアウト", destroy_owner_session_path, method: :delete, class: "fas fa-sign-out-alt mt-3 mb-3" %>
    </div>
  
  </nav>
