<!DOCTYPE html>
<html>
  <head>
    <title>おいでよ！チンチラの森</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <main>
      <% if owner_signed_in? %>
        <div class="container-fluid">
          <div class="row">
            <div class="left-bar col-lg-2">
              <%= render "layouts/leftbar" %>
            </div>
            <div class="center col-lg-10 mt-5 pl-5 pr-5">
              <%= render partial: 'layouts/notice' %>
              <%= yield %>
            </div>
            <!--<div class="right-bar col-lg-2">-->
            <!--  <%#= render 'layouts/rightbar' %>-->
            <!--</div>-->
          </div>
        </div>
      <% elsif admin_signed_in? %>
         <div class="container-fluid">
          <div class="row">
            <div class="left-bar col-lg-2">
              <%= render "layouts/admin.navbar" %>
            </div>
            <div class="center col-lg-10 mt-5">
              <%= render partial: 'layouts/notice' %>
              <%= yield %>
            </div>
      <% else %>
        <%= yield %>
        <%= render partial: 'owners/registrations/new' %>
        <%= render partial: 'owners/sessions/new' %>
      <% end %>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  </body>
</html>
