<!DOCTYPE html>
<html>
  <head>
    <title>おいでよ！チンチラの森</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:error] %>
    
    <main>
      <% if owner_signed_in? %>
        <div class="container-fluid">
          <div class="row">
            <div class="left-bar col-2">
              <%= render "layouts/navbar" %>
            </div>
            <div class="center col mt-5">
              <%= yield %>
            </div>
            <div class="right-bar col-2">
              cccccccccccccccc
            </div>
          </div>
        </div>
      <% elsif admin_signed_in? %>
        <%= yield %>
      <% else %>
        <%= yield %>
        <%= render partial: 'owners/registrations/new' %>
        <%= render partial: 'owners/sessions/new' %>
      <% end %>
    </main>
    
    <%= render 'layouts/footer' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  </body>
</html>
