<!DOCTYPE html>
<html>
  <head>
    <title>おいでよ！チンチラの森</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= include_gon(init: true) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <main>
      <% if owner_signed_in? %>
        <div class="container-fluid">
          <div class="row">
            <div class="left-bar col-2 text-center sticky-top">
              <%= render "layouts/leftbar" %>
            </div>
            <div class="center col-10 col-lg-7 mt-5">
              <%= render 'layouts/notice' %>
              <%= yield %>
            </div>
            <div class="right-bar d-none d-lg-block col-lg-3 sticky-top text-center">
              <%= render 'layouts/rightbar' %>
            </div>
          </div>
        </div>
      <% elsif admin_signed_in? %>
         <div class="container-fluid">
          <div class="row">
            <div class="left-bar col-2 text-center sticky-top">
              <%= render "layouts/admin_navbar" %>
            </div>
            <div class="center col-10 mt-5">
              <%= render partial: 'layouts/notice' %>
              <%= yield %>
            </div>
      <% else %>
        <%= yield %>
        <%= render partial: 'owners/registrations/new' %>
        <%= render partial: 'owners/sessions/new' %>
      <% end %>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  </body>
</html>
